<a href="https://colab.research.google.com/github/neerajgosai19/image-classification/blob/master/Concrete.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

Deep Learning & Neural Networks with Keras .............
increasing the number of training epochs and changing number of hidden layers and you will see how changing these parameters impacts the performance of the model.

In [2]:
concrete_data = pd.read_csv( 'https://cocl.us/concrete_data')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']

In [7]:
predictors.head()
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
predictors.mean()

Cement                281.167864
Blast Furnace Slag     73.895825
Fly Ash                54.188350
Water                 181.567282
Superplasticizer        6.204660
Coarse Aggregate      972.918932
Fine Aggregate        773.580485
Age                    45.662136
dtype: float64

In [9]:
 predictors.std()

Cement                104.506364
Blast Furnace Slag     86.279342
Fly Ash                63.997004
Water                  21.354219
Superplasticizer        5.973841
Coarse Aggregate       77.753954
Fine Aggregate         80.175980
Age                    63.169912
dtype: float64

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [11]:
n_cols = predictors_norm.shape[1]

In [12]:
import keras

In [13]:
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

def regression_model():
    
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
model = regression_model()

In [15]:
model.fit(predictors_norm, target, validation_split=0.3, epochs=10, verbose=2)

Epoch 1/10
23/23 - 1s - loss: 1708.3745 - val_loss: 1234.7250
Epoch 2/10
23/23 - 0s - loss: 1683.4666 - val_loss: 1220.2926
Epoch 3/10
23/23 - 0s - loss: 1655.8279 - val_loss: 1204.1024
Epoch 4/10
23/23 - 0s - loss: 1624.0758 - val_loss: 1184.8036
Epoch 5/10
23/23 - 0s - loss: 1586.5599 - val_loss: 1161.2168
Epoch 6/10
23/23 - 0s - loss: 1541.7413 - val_loss: 1132.2451
Epoch 7/10
23/23 - 0s - loss: 1486.2980 - val_loss: 1096.4871
Epoch 8/10
23/23 - 0s - loss: 1416.6326 - val_loss: 1052.1996
Epoch 9/10
23/23 - 0s - loss: 1330.7507 - val_loss: 996.5598
Epoch 10/10
23/23 - 0s - loss: 1224.3615 - val_loss: 930.3253

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [17]:
model = regression_model()

In [18]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 1ms/step - loss: 373.1126
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 303.3423
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 259.8542
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 249.9253
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 242.7994
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 238.9011
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 240.2638
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 208.1096
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 212.1870
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 191.0973
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 167.9083
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 170.4270
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 170.4186
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 165.1678
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 148.8310
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 155.6395
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 143.8627
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 148.9299
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 133.4018
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 134.0328
Epoch 21/50
23/23 [==============================] - 0s 1ms/step - loss: 136.3091
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 131.2220
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 126.1297
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 120.9604
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 122.9353
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 119.0491
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 116.6673
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 105.5710
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 120.0277
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 122.9413
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 116.5782
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 122.7516
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 119.4858
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 113.2839
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 105.4644
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 113.1529
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 120.4726
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 102.1477
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 115.2398
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 114.3601
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 116.3798
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 118.5488
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 112.0085
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 111.1219
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 104.3190
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 113.7142
Epoch 47/50
23/23 [==============================] - 0s 1ms/step - loss: 107.6640
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 101.3388
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 105.7932
Epoch 50/50
23/23 [==============================] - 0s 1ms/step - loss: 110.1396

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 112.7722

112.77216339111328

In [20]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

112.7721585714648 0.0

In [21]:

total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " .Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 94.2390365600586
MSE 2: 119.77278137207031
MSE 3: 108.01673889160156
MSE 4: 115.9453125
MSE 5: 65.15946197509766
MSE 6: 52.69874572753906
MSE 7: 62.07844161987305
MSE 8: 48.870792388916016
MSE 9: 52.71780014038086
MSE 10: 51.92514419555664
MSE 11: 46.36767578125
MSE 12: 43.061588287353516
MSE 13: 54.29918670654297
MSE 14: 51.461055755615234
MSE 15: 45.57295608520508
MSE 16: 43.60060119628906
MSE 17: 48.97574234008789
MSE 18: 48.7686882019043
MSE 19: 42.251224517822266
MSE 20: 45.73836898803711
MSE 21: 41.34002685546875
MSE 22: 49.49197769165039
MSE 23: 41.5085563659668
MSE 24: 45.89765930175781
MSE 25: 48.20442199707031
MSE 26: 52.761959075927734
MSE 27: 48.0963020324707
MSE 28: 44.8057746887207
MSE 29: 52.33241653442383
MSE 30: 48.904541015625
MSE 31: 53.01679611206055
MSE 32: 42.309017181396484
MSE 33: 47.725791931152344
MSE 34: 47.31578826904297
MSE 35: 45.058589935302734
MSE 36: 54.9403076171875
MSE 37: 49.8387451171875
MSE 38: 51.20188522338867
MSE 39: 50.85254669189453
MSE 40: 42.52180480957031
MSE 41: 54.061981201171875
MSE 42: 43.270511627197266
MSE 43: 46.059814453125
MSE 44: 53.52860641479492
MSE 45: 56.48585891723633
MSE 46: 51.82490921020508
MSE 47: 52.32766342163086
MSE 48: 49.14554977416992
MSE 49: 50.12379455566406
MSE 50: 50.44926452636719


Below is the mean and standard deviation of 50 .Total number of epochs for each training is: 50

Mean: 54.13848366814705
Standard Deviation: 17.230038022043367